:root {
  --available-height: calc(100vh);
  --available-width: calc(100vw - 10rem);
  --effective-ratio: calc(var(--available-width) / var(--available-height));
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), url(./assets/fonts/Comfortaa/Comfortaa-Variable.ttf) format("truetype");
}

body {
  margin: 0;
  padding-bottom: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body.chakra-ui-dark {
  background-color: var(--chakra-colors-darkprimary);
}

body.chakra-ui-light {
  background-color: var(--chakra-colors-light);
}

.menu-box-1 {
  aspect-ratio: 1/1;
}

.light-mode-svg > .fill-svg > path {
  fill: var(--chakra-colors-light);
}

.light-mode-svg > .stroke-svg > path {
  fill: none;
  stroke: var(--chakra-colors-light);
}

.dark-mode-svg > .fill-svg > path {
  fill: var(--chakra-colors-light);
}

.dark-mode-svg > .stroke-svg > path {
  fill: none;
  stroke: var(--chakra-colors-light);
}

.disabled {
  opacity: 0.6 !important;
}

#iamUniWALogo .b {
  fill: #5e5f5f;
}

#iamUniWALogo .c {
  fill: #fafcfe;
}

#iamUniWALogo .d {
  fill: var(--chakra-colors-primary);
}

#iamUniWALogo .e {
  fill: #eaae4e;
}

.back-btn-svg {
  transform: rotate(180deg);
}

.light-mode-svg .back-btn-svg > path {
  stroke: var(--chakra-colors-dark);
}

.dark-mode-svg .back-btn-svg > path {
  stroke: var(--chakra-colors-light);
}

.search-active {
  aspect-ratio: 1/1 !important;
  grid-column-start: span 1 !important;
  grid-column-end: span 1 !important;
}
